.lihover{
    color: #fff;
}
.liHover:hover {
  color: red;
}
.breadcrumb{
  list-style: none;
  background-color: #353a40;
  padding: 0px;
}
.breadcrumb:hover{
 color: red;
}
.btn-inputfile {
 width: 150px;
 height: 40px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
}
.btn-inputfile + label {
   display: inline-block;
   margin-bottom: 0;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   -ms-touch-action: manipulation;
   touch-action: manipulation;
   cursor: pointer;
   border: 1px solid transparent;
   white-space: nowrap;
   padding: .25rem .5rem;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   color: #fff;
   background-color: #6c757d;
   border-color: #6c757d;
   white-space: nowrap;
   font-size: .875rem;
   line-height: 1.5;
   border-radius: .2rem;
}
.btn-inputfile:focus + label,
.btn-inputfile + label:hover {
   color: #fff;
   background-color: #53595f;
   border-color: #53595f;
}
.btn-inputfile + label {
 cursor: pointer;
}
.btn-inputfile:focus + label {
 outline: 1px dotted #000;
 outline: -webkit-focus-ring-color auto 5px;
}
td.fc-day.fc-past {
       background-color: #EEEEEE;
   }
/* .card{
 box-shadow: 5px 10px #888888;
} */
